@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* :root {
		--background: 0 0% 100%;
		--background-dark: 0 0% 100%;
		--foreground: 0 0% 0%;
		--book: 0 0% 100%;
		--book-border: 0 0% 0%;
		--page: 0 0% 100%;
		--page-fold: 0 0% 100%;
		--page-foreground: 0 0% 0%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 0%;
		--primary: 0 0% 0%;
		--secondary: 0 0% 0%;
		--secondary-foreground: 0 0% 100%;
		--border: 0 0% 0%;
		--ring: 0 0% 0%;
		--radius: 0rem;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 0%;
		--primary-foreground: 0 0% 100%;
		--accent: 0 0% 0%;
		--accent-foreground: 0 0% 100%;
		--destructive: 0 0% 0%;
		--destructive-foreground: 0 0% 100%;
		--muted: 0 0% 100%;
		--muted-foreground: 0 0% 0%;
		--shadow-dark: 0 0% 100%;
		--shadow: 0 0% 100%;
		--input: 0 0% 0%;
	} */

	:root {
		--background: 0 0% 100%;
		--background-dark: 0 0% 100%;
		--foreground: 0 0% 0%;
		--book: 0 0% 100%;
		--book-border: 0 0% 0%;
		--page: 0 0% 100%;
		--page-fold: 0 0% 100%;
		--page-foreground: 0 0% 0%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 0%;
		--primary: 0 0% 0%;
		--secondary: 0 0% 0%;
		--secondary-foreground: 0 0% 100%;
		--border: 0 0% 0%;
		--ring: 0 0% 0%;
		--radius: 0rem;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 0%;
		--primary-foreground: 0 0% 100%;
		--accent: 0 0% 0%;
		--accent-foreground: 0 0% 100%;
		--destructive: 0 0% 0%;
		--destructive-foreground: 0 0% 100%;
		--muted: 0 0% 100%;
		--muted-foreground: 0 0% 0%;
		--shadow-dark: 0 0% 100%;
		--shadow: 0 0% 100%;
		--input: 0 0% 0%;
	}

	.cyber {
		--page: 221 84% 22%;
		--book: 308 100% 2%;
		--secondary: 56 98% 50%;
		--ring: 327 100% 45%;
		--primary: 327 100% 45%;
		--accent-foreground: 0 0% 100%;
		--popover: 221 84% 22%;
		--popover-foreground: 0 0% 100%;
		--page-fold: 221 73% 32%;
		--foreground: 327 100% 45%;
		--card-foreground: 0 0% 100%;
		--muted-foreground: 219 55% 69%;
		--muted: 227 97% 14%;
		--border: 194 100% 50%;
		--book-border: 56 98% 50%;
		--background-dark: 221 84% 22%;
		--card: 221 73% 32%;
		--secondary-foreground: 332 29% 13%;
		--destructive: 0 83% 45%;
		--destructive-foreground: 0 0% 100%;
		--input: 194 100% 50%;
		--shadow: 227 97% 14%;
		--shadow-dark: 308 100% 2%;
		--page-foreground: 0 0% 100%;
		--radius: 0rem;
		--accent: 227 97% 14%;
		--background: 227 97% 14%;
	}

	.cherry {
		--radius: 1rem;
		--background: 351 46% 8%;
		--foreground: 24 72% 73%;
		--background-dark: 351 45% 11%;
		--book: 351 45% 11%;
		--page: 350 45% 8%;
		--page-fold: 351 45% 11%;
		--page-foreground: 24 72% 73%;
		--card: 351 45% 11%;
		--card-foreground: 24 72% 73%;
		--book-border: 352 37% 15%;
		--border: 349 34% 15%;
		--input: 349 34% 15%;
		--primary: 79 54% 42%;
		--primary-foreground: 23 80% 88%;
		--secondary: 0 100% 63%;
		--ring: 0 100% 63%;
		--secondary-foreground: 351 45% 11%;
		--popover: 350 45% 8%;
		--popover-foreground: 24 72% 73%;
		--accent: 352 43% 20%;
		--accent-foreground: 0 73% 74%;
		--muted: 352 37% 15%;
		--muted-foreground: 5 21% 45%;
		--destructive: 7 98% 54%;
		--destructive-foreground: 24 72% 73%;
		--shadow: 345 63% 6%;
		--shadow-dark: 351 100% 6%;
	}

	.dawn {
		--radius: 0.75rem;
		--background: 32 60% 95%;
		--background-dark: 18 41% 87%;
		--book: 248 19% 40%;
		--page: 32 60% 95%;
		--page-foreground: 248 19% 40%;
		--card-foreground: 248 19% 40%;
		--popover-foreground: 248 19% 40%;
		--primary: 36 100% 64%;
		--primary-foreground: 35 75% 97%;
		--secondary: 328 32% 49%;
		--border: 18 41% 87%;
		--shadow: 18 41% 87%;
		--shadow-dark: 301 37% 22%;
		--book-border: 248 19% 40%;
		--ring: 36 100% 64%;
		--page-fold: 35 75% 97%;
		--card: 35 75% 97%;
		--popover: 35 75% 97%;
		--secondary-foreground: 35 75% 97%;
		--accent: 328 32% 49%;
		--accent-foreground: 35 75% 97%;
		--muted: 18 41% 87%;
		--muted-foreground: 334 16% 43%;
		--foreground: 248 19% 40%;
		--input: 18 41% 87%;
		--destructive: 340 85% 44%;
		--destructive-foreground: 35 75% 97%;
	}

	.terminal-green {
		--foreground: 144 71% 48%;
		--book-border: 144 71% 48%;
		--page-foreground: 144 71% 48%;
		--card-foreground: 144 71% 48%;
		--popover-foreground: 144 71% 48%;
		--primary: 144 71% 48%;
		--secondary: 144 71% 48%;
		--accent: 144 71% 48%;
		--border: 144 71% 48%;
		--input: 144 71% 48%;
		--ring: 144 71% 48%;
		--muted-foreground: 148 51% 38%;
		--muted: 148 41% 20%;
		--background-dark: 145 76% 10%;
		--background: 145 76% 5%;
		--book: 145 76% 10%;
		--page: 145 76% 10%;
		--page-fold: 145 76% 10%;
		--card: 145 76% 10%;
		--popover: 145 76% 10%;
		--primary-foreground: 145 76% 10%;
		--secondary-foreground: 145 76% 10%;
		--accent-foreground: 145 76% 10%;
		--shadow: 145 76% 10%;
		--shadow-dark: 145 76% 10%;
		--radius: 0rem;
		--destructive: 0 71% 48%;
		--destructive-foreground: 0 0% 100%;
	}

	.terminal-orange {
		--background: 27 48% 5%;
		--foreground: 34 76% 51%;
		--background-dark: 30 87% 6%;
		--book: 29 87% 6%;
		--book-border: 34 76% 51%;
		--shadow: 29 87% 6%;
		--shadow-dark: 30 87% 6%;
		--border: 34 76% 51%;
		--page: 30 87% 6%;
		--page-fold: 30 87% 6%;
		--page-foreground: 34 76% 51%;
		--input: 34 76% 51%;
		--card: 30 87% 6%;
		--card-foreground: 34 76% 51%;
		--ring: 34 76% 51%;
		--primary: 34 76% 51%;
		--primary-foreground: 30 87% 6%;
		--secondary-foreground: 30 87% 6%;
		--accent: 34 76% 51%;
		--accent-foreground: 30 87% 6%;
		--muted-foreground: 34 60% 36%;
		--muted: 34 58% 19%;
		--secondary: 34 76% 51%;
		--radius: 0rem;
		--destructive: 0 70% 49%;
		--destructive-foreground: 0 0% 100%;
		--popover: 30 87% 6%;
		--popover-foreground: 34 76% 51%;
	}

	.old-salt {
		--background: 70 16% 93%;
		--background-dark: 110 7% 84%;
		--page: 70 16% 93%;
		--book: 203 14% 71%;
		--book-border: 203 14% 71%;
		--radius: 0.5rem;
		--foreground: 28 95% 8%;
		--page-foreground: 28 95% 8%;
		--card-foreground: 28 95% 8%;
		--popover-foreground: 28 95% 8%;
		--card: 72 63% 97%;
		--page-fold: 72 63% 97%;
		--border: 110 7% 84%;
		--shadow: 110 7% 84%;
		--popover: 70 16% 93%;
		--primary: 27 14% 39%;
		--primary-foreground: 72 63% 97%;
		--secondary: 0 71% 40%;
		--destructive: 0 71% 40%;
		--secondary-foreground: 72 63% 97%;
		--destructive-foreground: 72 63% 97%;
		--ring: 27 14% 39%;
		--input: 110 7% 84%;
		--muted-foreground: 27 14% 39%;
		--accent: 23 15% 70%;
		--muted: 110 7% 84%;
		--accent-foreground: 72 63% 97%;
		--shadow-dark: 231 14% 48%;
	}

	.industrial {
		--background: 110 7% 84%;
		--background-dark: 70 16% 93%;
		--foreground: 90 4% 10%;
		--page: 70 16% 93%;
		--book: 28 21% 29%;
		--shadow: 65 20% 75%;
		--shadow-dark: 90 4% 10%;
		--border: 110 7% 84%;
		--book-border: 28 21% 29%;
		--card: 68 57% 97%;
		--page-fold: 68 57% 97%;
		--page-foreground: 90 4% 10%;
		--card-foreground: 90 4% 10%;
		--popover: 70 16% 93%;
		--popover-foreground: 90 4% 10%;
		--radius: 1rem;
		--primary: 150 79% 25%;
		--primary-foreground: 68 57% 97%;
		--secondary-foreground: 68 57% 97%;
		--accent-foreground: 68 57% 97%;
		--destructive-foreground: 68 57% 97%;
		--input: 110 7% 84%;
		--ring: 41 87% 59%;
		--secondary: 3 77% 56%;
		--accent: 110 7% 84%;
		--muted-foreground: 105 2% 47%;
		--muted: 110 7% 84%;
		--destructive: 3 77% 56%;
	}

	.sticky-note {
		--background: 47 100% 82%;
		--background-dark: 49 100% 50%;
		--book: 36 100% 62%;
		--page: 47 100% 82%;
		--page-fold: 47 100% 87%;
		--card: 47 100% 87%;
		--shadow: 41 100% 70%;
		--shadow-dark: 25 88% 54%;
		--book-border: 36 100% 62%;
		--popover: 47 100% 82%;
		--foreground: 229 100% 17%;
		--page-foreground: 229 100% 17%;
		--card-foreground: 229 100% 17%;
		--popover-foreground: 229 100% 17%;
		--border: 47 92% 76%;
		--input: 47 92% 76%;
		--muted-foreground: 229 12% 36%;
		--destructive: 9 97% 65%;
		--primary: 306 40% 56%;
		--ring: 187 41% 56%;
		--secondary: 49 100% 50%;
		--accent: 36 100% 62%;
		--muted: 47 92% 76%;
		--radius: 0rem;
	}

	.blueprint {
		--background: 214 53% 45%;
		--background-dark: 214 53% 45%;
		--foreground: 0 0% 100%;
		--book: 214 53% 45%;
		--book-border: 0 0% 100%;
		--page: 214 53% 45%;
		--page-fold: 214 53% 45%;
		--page-foreground: 0 0% 100%;
		--card: 214 53% 45%;
		--card-foreground: 0 0% 100%;
		--popover: 214 53% 45%;
		--popover-foreground: 0 0% 100%;
		--primary: 0 0% 100%;
		--primary-foreground: 214 53% 45%;
		--secondary: 0 0% 100%;
		--secondary-foreground: 214 53% 45%;
		--accent: 0 0% 100%;
		--accent-foreground: 214 53% 45%;
		--destructive: 0 0% 100%;
		--destructive-foreground: 214 53% 45%;
		--shadow: 214 53% 45%;
		--shadow-dark: 214 53% 45%;
		--border: 0 0% 100%;
		--input: 0 0% 100%;
		--ring: 0 0% 100%;
		--muted: 214 51% 56%;
		--muted-foreground: 215 52% 81%;
		--radius: 0rem;
	}

	.wireframe {
		--background: 0 0% 100%;
		--background-dark: 0 0% 100%;
		--foreground: 0 0% 0%;
		--book: 0 0% 100%;
		--book-border: 0 0% 0%;
		--page: 0 0% 100%;
		--page-fold: 0 0% 100%;
		--page-foreground: 0 0% 0%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 0%;
		--primary: 0 0% 0%;
		--secondary: 0 0% 0%;
		--secondary-foreground: 0 0% 100%;
		--border: 0 0% 0%;
		--ring: 0 0% 0%;
		--radius: 0rem;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 0%;
		--primary-foreground: 0 0% 100%;
		--accent: 0 0% 0%;
		--accent-foreground: 0 0% 100%;
		--destructive-foreground: 0 0% 100%;
		--destructive: 0 100% 50%;
		--muted: 0 0% 75%;
		--muted-foreground: 0 0% 50%;
		--shadow-dark: 0 0% 100%;
		--shadow: 0 0% 100%;
		--input: 0 0% 0%;
	}

	.supertoy {
		--background: 223 26% 87%;
		--background-dark: 49 100% 70%;
		--foreground: 264 33% 28%;
		--book: 326 22% 42%;
		--book-border: 264 33% 28%;
		--page: 230 33% 96%;
		--page-fold: 240 33% 99%;
		--page-foreground: 264 33% 28%;
		--card: 240 33% 99%;
		--card-foreground: 264 33% 28%;
		--primary: 25 100% 50%;
		--secondary: 124 47% 52%;
		--secondary-foreground: 240 33% 99%;
		--border: 264 33% 28%;
		--ring: 49 100% 70%;
		--radius: 0rem;
		--popover: 230 33% 96%;
		--popover-foreground: 264 33% 28%;
		--primary-foreground: 240 33% 99%;
		--accent: 264 22% 47%;
		--accent-foreground: 240 33% 99%;
		--destructive-foreground: 240 33% 99%;
		--destructive: 344 78% 60%;
		--muted: 223 30% 86%;
		--muted-foreground: 334 11% 41%;
		--shadow-dark: 287 27% 31%;
		--shadow: 222 25% 87%;
		--input: 264 33% 28%;
	}

	/* .terminal {
		--background: 180 41% 7%;
		--foreground: 39 51% 80%;
		--muted: 180 12% 15%;
		--muted-foreground: 180 12% 65%;
		--popover: 180 41% 4%;
		--popover-foreground: 39 51% 90%;
		--card: 180 41% 5%;
		--card-foreground: 39 51% 85%;
		--border: 180 31% 12%;
		--input: 180 31% 15%;
		--primary: 142 48% 59%;
		--primary-foreground: 0 0% 0%;
		--secondary: 142 30% 25%;
		--secondary-foreground: 142 30% 85%;
		--accent: 180 41% 22%;
		--accent-foreground: 180 41% 82%;
		--destructive: 1 96% 52%;
		--destructive-foreground: 0 0% 100%;
		--ring: 142 48% 59%;
		--shadow: 180 21% 4%;
		--shadow-dark: 180 21% 3%;
	}

	.kiss {
		--background: 0 0% 100%;
		--foreground: 0 0% 17%;
		--muted: 0 12% 90%;
		--muted-foreground: 0 12% 30%;
		--popover: 0 0% 97%;
		--popover-foreground: 0 0% 7%;
		--card: 0 0% 98%;
		--card-foreground: 0 0% 12%;
		--border: 0 0% 95%;
		--input: 0 0% 92%;
		--primary: 349 86% 50%;
		--primary-foreground: 0 0% 100%;
		--secondary: 349 30% 75%;
		--secondary-foreground: 349 30% 15%;
		--accent: 0 0% 85%;
		--accent-foreground: 0 0% 25%;
		--destructive: 9 98% 40%;
		--destructive-foreground: 0 0% 100%;
		--ring: 349 86% 50%;
		--shadow: 0 0% 90%;
		--shadow-dark: 0 0% 83%;
	}

	.cherry {
		--background: 351 44% 8%;
		--foreground: 24 73% 73%;
		--muted: 351 12% 15%;
		--muted-foreground: 351 12% 65%;
		--popover: 351 44% 5%;
		--popover-foreground: 24 73% 83%;
		--card: 351 44% 6%;
		--card-foreground: 24 73% 78%;
		--border: 351 34% 13%;
		--input: 351 34% 16%;
		--primary: 7 100% 66%;
		--primary-foreground: 7 100% 6%;
		--secondary: 7 30% 25%;
		--secondary-foreground: 7 30% 85%;
		--accent: 351 44% 23%;
		--accent-foreground: 351 44% 83%;
		--destructive: 7 92% 53%;
		--destructive-foreground: 0 0% 100%;
		--ring: 7 100% 66%;
		--shadow: 351 24% 4%;
		--shadow-dark: 351 24% 2%;
	}

	.depths {
		--background: 187 78% 9%;
		--foreground: 187 21% 75%;
		--muted: 187 12% 15%;
		--muted-foreground: 187 12% 65%;
		--popover: 187 78% 6%;
		--popover-foreground: 187 21% 85%;
		--card: 187 78% 7%;
		--card-foreground: 187 21% 80%;
		--border: 187 68% 14%;
		--input: 187 68% 17%;
		--primary: 187 78% 39%;
		--primary-foreground: 0 0% 100%;
		--secondary: 187 30% 75%;
		--secondary-foreground: 187 30% 15%;
		--accent: 187 78% 24%;
		--accent-foreground: 0 0% 100%;
		--destructive: 10 83% 53%;
		--destructive-foreground: 0 0% 100%;
		--ring: 187 78% 39%;
		--shadow: 187 58% 5%;
		--shadow-dark: 187 58% 3%;
	}

	.lilac {
		--background: 249 33% 96%;
		--foreground: 247 100% 21%;
		--muted: 249 12% 90%;
		--muted-foreground: 249 12% 30%;
		--popover: 249 33% 93%;
		--popover-foreground: 247 100% 11%;
		--card: 249 33% 94%;
		--card-foreground: 247 100% 16%;
		--border: 249 23% 91%;
		--input: 249 23% 88%;
		--primary: 247 78% 65%;
		--primary-foreground: 0 0% 100%;
		--secondary: 247 30% 75%;
		--secondary-foreground: 247 30% 15%;
		--accent: 249 33% 81%;
		--accent-foreground: 249 33% 21%;
		--destructive: 3 93% 20%;
		--destructive-foreground: 3 93% 80%;
		--ring: 247 78% 65%;
		--shadow: 249 33% 88%;
		--shadow-dark: 249 33% 81%;
	}

	.tokyo {
		--background: 235 19% 13%;
		--foreground: 229 35% 75%;
		--muted: 235 12% 17%;
		--muted-foreground: 235 12% 67%;
		--popover: 235 19% 10%;
		--popover-foreground: 229 35% 85%;
		--card: 235 19% 11%;
		--card-foreground: 229 35% 80%;
		--border: 235 9% 18%;
		--input: 235 9% 21%;
		--primary: 223 45% 44%;
		--primary-foreground: 0 0% 100%;
		--secondary: 223 30% 75%;
		--secondary-foreground: 223 30% 15%;
		--accent: 235 19% 28%;
		--accent-foreground: 235 19% 88%;
		--destructive: 9 82% 45%;
		--destructive-foreground: 0 0% 100%;
		--ring: 223 45% 44%;
		--shadow: 235 19% 7%;
		--shadow-dark: 235 19% 5%;
	}

	.cyber {
		--background: 221 84% 7%;
		--foreground: 210 100% 100%;
		--muted: 221 12% 15%;
		--muted-foreground: 221 12% 65%;
		--popover: 221 84% 4%;
		--popover-foreground: 0 0% 100%;
		--card: 221 84% 5%;
		--card-foreground: 0 0% 100%;
		--border: 221 74% 12%;
		--input: 221 74% 15%;
		--primary: 330 100% 57%;
		--primary-foreground: 0 0% 100%;
		--secondary: 330 30% 75%;
		--secondary-foreground: 330 30% 15%;
		--accent: 221 84% 22%;
		--accent-foreground: 221 84% 82%;
		--destructive: 7 80% 45%;
		--destructive-foreground: 0 0% 100%;
		--ring: 330 100% 57%;
		--shadow: 221 64% 3%;
		--shadow-dark: 221 64% 1%;
	}

	.mainframe {
		--background: 248 46% 9%;
		--foreground: 157 100% 50%;
		--muted: 248 12% 15%;
		--muted-foreground: 248 12% 65%;
		--popover: 248 46% 6%;
		--popover-foreground: 157 100% 60%;
		--card: 248 46% 7%;
		--card-foreground: 157 100% 55%;
		--border: 248 36% 14%;
		--input: 248 36% 17%;
		--primary: 157 100% 50%;
		--primary-foreground: 157 100% 10%;
		--secondary: 157 30% 25%;
		--secondary-foreground: 157 30% 85%;
		--accent: 248 46% 24%;
		--accent-foreground: 248 46% 84%;
		--destructive: 10 88% 48%;
		--destructive-foreground: 0 0% 100%;
		--ring: 157 100% 50%;
		--shadow: 248 46% 4%;
		--shadow-dark: 248 46% 2%;
	}

	.dawn {
		--background: 32 57% 95%;
		--foreground: 248 19% 40%;
		--muted: 32 12% 90%;
		--muted-foreground: 32 12% 30%;
		--popover: 32 57% 92%;
		--popover-foreground: 248 19% 30%;
		--card: 32 57% 93%;
		--card-foreground: 248 19% 35%;
		--border: 32 47% 90%;
		--input: 32 47% 87%;
		--primary: 248 19% 40%;
		--primary-foreground: 248 19% 100%;
		--secondary: 248 9% 75%;
		--secondary-foreground: 248 9% 15%;
		--accent: 32 57% 80%;
		--accent-foreground: 32 57% 20%;
		--destructive: 0 85% 44%;
		--destructive-foreground: 0 0% 100%;
		--ring: 248 19% 40%;
		--shadow: 32 47% 85%;
		--shadow-dark: 32 47% 81%;
	}

	.note {
		--background: 40 90% 96%;
		--foreground: 187 100% 19%;
		--muted: 40 12% 90%;
		--muted-foreground: 40 12% 30%;
		--popover: 40 90% 93%;
		--popover-foreground: 187 100% 9%;
		--card: 40 90% 94%;
		--card-foreground: 187 100% 14%;
		--border: 40 80% 91%;
		--input: 40 80% 88%;
		--primary: 187 100% 34%;
		--primary-foreground: 0 0% 100%;
		--secondary: 187 30% 75%;
		--secondary-foreground: 187 30% 15%;
		--accent: 40 90% 81%;
		--accent-foreground: 40 90% 21%;
		--destructive: 7 82% 38%;
		--destructive-foreground: 7 82% 98%;
		--ring: 187 100% 34%;
		--shadow: 40 70% 88%;
		--shadow-dark: 40 70% 82%;
	}

	.sky {
		--background: 207 58% 96%;
		--foreground: 0 0% 20%;
		--muted: 207 12% 90%;
		--muted-foreground: 207 12% 30%;
		--popover: 207 58% 93%;
		--popover-foreground: 0 0% 10%;
		--card: 207 58% 94%;
		--card-foreground: 0 0% 15%;
		--border: 207 48% 91%;
		--input: 207 48% 88%;
		--primary: 13 70% 46%;
		--primary-foreground: 0 0% 100%;
		--secondary: 13 30% 75%;
		--secondary-foreground: 13 30% 15%;
		--accent: 207 58% 81%;
		--accent-foreground: 207 58% 21%;
		--destructive: 10 82% 39%;
		--destructive-foreground: 10 82% 99%;
		--ring: 13 70% 46%;
		--shadow: 207 48% 83%;
		--shadow-dark: 207 48% 80%;
	} */
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
